.section-title {
    position: relative;
    display: inline-block;
    font-size: var(--fs-big-title);
    margin-bottom: 50px;
    font-family: var(--ff-secondary);
    font-weight: 600;
}

.section-title::before {
    content: "";
    width: 100%;
    height: 100%;
    top: -15px;
    left: -30px;
    border-radius: 100px;
    background-color: var(--clr-black);
    opacity: 0.05;
    z-index: -1;
    position: absolute;
    pointer-events: none;
}

.banner {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 250px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--clr-very-dark-grey);
}

.offset-next-element + * {
    margin-top: -100px;
}

.banner.home {
    padding-top: 100px;
    padding-bottom: 0;
    overflow: hidden;
    align-items: center;
}

.banner .title {
    font-size: var(--fs-big-title);
    font-family: var(--ff-primary);
    color: var(--clr-white);
    text-shadow: 0 10px 20px #00000040;
}
  
.banner::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.25;
    background-color: var(--clr-dark-grey);
    pointer-events: none;
}

.banner.z-index-2::before {
    z-index: 1;
}

.banner .introduction .title {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: var(--fs-big-text);
    min-width: 350px;
    gap: 30px;
}

#scroll-to-partners {
    font-size: var(--fs-big-title);
    animation: up-down 3s infinite;
    opacity: .5;
    transition: .4s;
    cursor: pointer;
    background-color: unset;
    border: none;
    outline: none;
    color: var(--clr-white);
}

#scroll-to-partners:hover {
    opacity: 1;
}

.banner .introduction .stats {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.banner .introduction .stat {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.banner .introduction .stat i{
    font-size: var(--fs-title);
}

.banner .introduction .stat:nth-child(1) {
    color: var(--clr-pink);
}

.banner .introduction .stat:nth-child(2) {
    color: var(--clr-blue);
}

.banner .introduction .stat:nth-child(3) {
    color: var(--clr-orange);
}

.banner .introduction .stat p {
    font-size: var(--fs-small-text);
    text-transform: uppercase;
    font-weight: 600;
}

@keyframes up-down {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.introduction .box {
    gap: 40px;
}

.introduction .box h2 {
    line-height: 1em;
}

.introduction .box h2 span {
    display: inline-block;
}

.introduction .box h2 span span {
    animation: wave 2s infinite;
    animation-timing-function: ease-in-out;
    margin-top: 30px;
}

.introduction .box h2 span span {
    filter: drop-shadow(2px 2px 0 #00000010);
}

.introduction .box h2 span:nth-child(1) {
    animation-delay:0s;
}
.introduction .box h2 span:nth-child(2) {
    animation-delay:.1s;
}
.introduction .box h2 span:nth-child(3) {
    animation-delay:.2s;
}
.introduction .box h2 span:nth-child(4) {
    animation-delay:.3s;
}
.introduction .box h2 span:nth-child(5) {
    animation-delay:.4s;
}
.introduction .box h2 span:nth-child(6) {
    animation-delay:.5s;
}
.introduction .box h2 span:nth-child(7) {
    animation-delay:.6s;
}

@keyframes wave {
    0% {
        transform:translateY(0px)
    }
    50% {
        transform:translateY(-10px);
    }
}

.introduction {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.introduction .box {
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background: radial-gradient(at top, #ffffff 0%, #ededed 100%);
    box-shadow: unset;
}

.introduction .box h2 {
    font-size: var(--fs-big-title);
    font-family: var(--ff-secondary);
    font-weight: 600;
    text-align: center;
}

.partners {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: var(--clr-white);
    margin-top: -1px;
    position: relative;
    z-index: 2;
}

.partners ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 100px;}

.partners img {
    width: 250px;
    object-fit: contain;
    filter: saturate(0);
    transition: filter .4s, transform .4s;
}

.partners a:hover img {
    filter: saturate(1);
    transform: translateY(-5px);
}

.portrait {
    padding-top: 250px;
    padding-bottom: 50px;
    background: linear-gradient(315deg, #0a4a52 0%, #51b8c4 50%, #206972 100%);
    /* display: flex;
    justify-content: space-between;
    gap: 100px; */
}

.presentation {
    color: var(--clr-white);
    /* display: flex;
    flex-direction: column; */
    /* gap: 20px; */
    /* width: 70%; */
}

.presentation > *:not(:first-child) {
    margin-top: 20px;
}

.presentation h2 {
    font-size: var(--fs-big-title);
}

.presentation p {
    font-size: var(--fs-big-text);
}

.portrait .profile-picture {
    max-width: 400px;
    float: left;
    margin: 0 100px 50px 0;
    /* object-fit: cover; */
    height: fit-content;
    border-radius: 50px;
    box-shadow: var(--bs-secondary);
}

.portrait .presentation::after {
    content: "";
    display: block;
    clear: both;
}

.achievements ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-auto-rows: 1fr;
}

.achievements {
    padding-top: 100px;
}

.achievements img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.achievements li::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-black);
    opacity: 0;
    position: absolute;
    border-radius: 20px;
    transition: opacity .4s;
    pointer-events: none;
}

.achievements li:hover::before {
    opacity: 0.5;
}

.achievements .reference {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--clr-white);
    background-color: var(--clr-very-dark-grey);
    box-shadow: 0 10px 20px #00000010;
    transition: opacity .4s;
    opacity: 0;
}

.achievements .reference.annotations {
    top: 70px;
    font-size: var(--fs-small-text);
    transition-delay: .2s;
    background-color: var(--clr-dark-yellow);
    padding: 7px 14px;
    border-radius: 6px;
}

.achievements .description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: var(--clr-white);
    background-color: var(--clr-very-dark-grey);
    border-radius: 20px 20px 0 0;
    transform: translateY(58px);
    transition: transform .4s;
    box-shadow:  0 -10px 20px #00000010;
}

.achievements li:hover .description {
    transform: translateY(0);
}

.achievements li:hover .reference {
    opacity: 1;
}

.achievements .description h3 {
    font-size: var(--fs-small-title);
    margin-bottom: 20px;
}

.achievements .description p {
    font-size: var(--fs-big-text);
}

.achievements li {
    box-shadow: var(--bs-secondary);
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.achievements .links {
    display: flex;
    gap: 20px;
}

.skills {
    padding-top: 300px;
    background-color: var(--clr-very-light-grey);
}

.skills ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    grid-auto-rows: 1fr;
}

.skills li {
    padding: 30px;
    border-radius: 10px;
    box-shadow: var(--bs-primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--clr-white);
    transition: transform .8s;
}

.skills li:hover {
    transform: translateY(-5px);
}

.skills li img {
    width: 100%;
    height: 50px;
    object-fit: contain;
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-auto-rows: 1fr;
}

.post .title {
    font-size: var(--fs-small-title);
}

.post .infos > *:not(:last-child) {
    margin-bottom: 20px;
}

main.single {
    margin-bottom: -100px;
}

.single + footer {
    margin-top: 200px;
}

main.single .post .infos p {
    color: var(--clr-grey);
}

main.single .post .description {
    font-size: var(--fs-big-text);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main.single .post .description a {
    font-weight: 600;
    color: var(--clr-orange);
}

main.single .post .description ul {
    list-style-type: initial;
}

main.single .post .description ul li::marker {
    color: var(--clr-blue);
}

.single .post .description h1, .single .post .description h2, .single .post .description h3 {
    padding-left: 20px;
}

.single .post .description h1, .single .post .description h2, .single .post .description h3 {
    border-left: 3px solid var(--clr-white);
}

main.single .post .description h1 {
    border-left: 5px solid var(--clr-pink);
}

main.single .post .description h2 {
    border-left: 5px solid var(--clr-yellow);
}

main.single .post .description h3 {
    border-left: 5px solid var(--clr-green);
}

.post .description.formated > *:has(img), .post .description.formated > *:has(code) {
    border-radius: 10px;
}

.post .description.formated > * > *, .management .post .description > * > * {
    max-width: 100%;
    border-radius: 10px;
}

.post .description.formated > *:has(img) {
    text-align: center;
}

.description.formated p:has(code) {
    background-color: var(--clr-dark-grey);
    color: var(--clr-white);
    padding: 10px 20px;
}

.actions.white a {
    color: var(--clr-white);
}

.actions.white a:hover {
    color: var(--clr-yellow);
}

.actions a:hover {
    color: var(--clr-very-dark-grey);
}

.management {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.management .post .description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 500px;
    overflow: hidden;
    position: relative;
}

.management .post .description:after {
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    opacity: 1;
    background: linear-gradient(transparent, var(--clr-dark-purple));
    position: absolute;
    pointer-events: none;
    transition: opacity .8s;
}

.management .single {
    border-radius: 30px;
    padding: 40px;
    background-color: var(--clr-dark-purple);
}

.management .single .post {
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.management .single .post .description a {
    font-weight: 600;
    color: var(--clr-white);
}

.management .single .post .description hr {
    background-color: #ffffff40;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete-post .page > .title {
    color: var(--clr-dark-pink);
}

.delete-post .management .single {
    background-color: var(--clr-dark-pink);
}

.delete-post .management .post .description:after {
    content: unset;
}

.delete-post .management .post .description {
    max-height: unset;
}

.comments-section {
    padding-top: 300px;
    padding-bottom: 150px;
    background-color: var(--clr-very-light-grey);
}

.comment .title {
    background-color: var(--clr-dark-green);
}

.comment .header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.comment .header .username{
    font-size: var(--fs-big-text);
    font-weight: 500;
}

.comment .date {
    color: var(--clr-grey);
}

.comment > *:not(:last-child) {
    margin-bottom: 10px;
}

.icon-spacing .fas{
    margin-right: 10px;
}

.comment .hide {
    color: var(--clr-dark-purple);
}

.comment .edit {
    color: var(--clr-dark-blue);
}

.comment .delete {
    color: var(--clr-dark-pink);
}

.title a {
    color: var(--clr-white);
}

.archive .post .content, .comment .content {
    margin-top:0;
}

.archive .post .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.archive .post .content p {
    width: 100%;
}

.archive .post .thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.archive .post > *:not(:first-child) {
    margin-top: 20px;
}

.archive .post .content .description {
    flex-grow: 1;
}

.archive .post .content *:not(:last-child) {
    margin-bottom: 20px;
}

.archive .post .content .author {
    font-weight: 600;
}

.comments .title {
    font-size: var(--fs-big-title);
    margin-bottom: 50px;
}

.comments .section-title:not(:first-child) {
    margin-top: 100px;
}

.comment {
    border-radius: 0 20px 20px 20px;
    box-shadow: var(--bs-primary);
    width: 100%;
    padding: 40px;
    background-color: var(--clr-white);
    position: relative;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.comments + * {
    margin-top: 100px;
}

.introduction, .archive, .achievements, .skills {
    z-index: 2;
}

.archive .post {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 40px;
    background: var(--clr-radial-very-dark-grey);
    color: var(--clr-white);
    box-shadow: var(--bs-secondary);
}

.update-post .page, .add-post .page {
    background-color: var(--clr-blue);
}

.update-comment .page {
    background-color: var(--clr-light-blue);
}

.update-comment, .update-comment a {
    color: var(--clr-very-dark-blue);
}

.update-post, .add-post, .update-post .actions a, .add-post .actions a {
    color: var(--clr-very-dark-blue);
}

.has-tooltip {
    position: relative;
    cursor: pointer;
}

.has-tooltip:hover .markdown-tooltip {
    opacity: 1;
    transform: translateY(0);
}

.markdown-tooltip {
    position: absolute;
    background-color: var(--clr-very-dark-grey);
    color: var(--clr-white);
    padding: 20px;
    border-radius: 10px;
    top: 50px;
    right: 20px;
    display: flex;
    flex-direction: column;
    font-size: var(--fs-small-text);
    gap: 10px;
    box-shadow: var(--bs-secondary);
    transition: opacity .4s, transform .4s;
    opacity: 0;
    transform: translateY(-5px);
    pointer-events: none;
    word-break: initial;
}

.markdown-tooltip > li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px 40px;
    max-width: 300px;
}

.markdown-tooltip ul li {
    text-align: right;
    font-weight: 500;
    text-transform: initial;
}

.form-field .title {
    font-size: var(--fs-big-text);
    display: inline-block;
    font-weight: 500;
}

.login form {
    background-color: var(--clr-dark-purple);
    color: var(--clr-white);
}

.contact form {
    background-color: var(--clr-dark-yellow);
    color: var(--clr-white);
}

.contact form .subject-field {
    display: none;
}

input[type="file"] {
    padding: unset;
    border-radius: unset;
    box-shadow: unset;
}

.register form {
    background-color: var(--clr-very-light-orange);
    color: var(--clr-dark-orange);
}

.actions {
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--fs-small-text);
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.vector-shape {
    width: 100%;
    height: 200px;
    z-index: 0;
    position: absolute;
}

.vector-shape-bottom {
    bottom: -1px;
}

.vector-shape-top {
    top: -1px;
}

.position-relative {
    position: relative;
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-1 {
    z-index: 1;
}

.z-index-negative-1 {
    z-index: -1;
}
.work {
    padding-top: 250px;
    padding-bottom: 100px;
    background: linear-gradient(45deg, #4d3a02 0%, #cba83f 50%, #896e1e 100%);
}

.error {
    background-color: var(--clr-dark-pink);
}

.error .box {
    position: relative;
    top: -100px;
}

.work {
    color: var(--clr-dark-yellow);
}

.box .question {
    flex-grow: 1;
}

.work .fas, .work p {
    color: var(--clr-yellow);
}

.error .fas, .error p {
    color: var(--clr-pink);
}

.management .box.error .fas, .management .box.error p {
    color: var(--clr-blue);
}

.box .fas {
    font-size: var(--fs-very-big-title);
}

.box h2 {
    font-size: var(--fs-title);
}

.box p, .box a {
    font-size: var(--fs-big-text);
}

.box a {
    align-items: center;
    display: flex;
}

.box a i.fas {
    font-size: var(--fs-title);
    margin-right: 20px;
}

.box .button-primary {
    padding: 20px 40px;
    border-radius: 20px;
}
