<footer class="section-spacing-small">
    <div class="top-section">
      <div class="wrapper">
          <a class="logo" href="{{ path('homepage') }}">
            <img src="{{ asset('images/snowtricks-logo-white.svg') }}" alt="">
            <p>Snowtricks</p>
          </a>
      </div>
    </div>
    <div class="bottom-section">
      <div class="wrapper">
        <div class="legal">
          <p class="copyright">Copyright © 2023</p>
          <p class="rights">Tous droits réservés</p>
        </div>
        <div class="links">
          <ul>
            <li><a target="_blank" href="mailto:jourdeflorian@gmail.com"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="https://github.com/FlorianJourde"><i class="fab fa-github" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/Ctrl_FJ"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/florianjourde/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="https://florianjourde.com/"><i class="fas fa-globe"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>