<button id="top-page-button" title="Aller en haut de la page"><i class="fas fa-arrow-up" aria-hidden="true"></i></button>

{% block javascripts %}
    <script src="{{ asset('js/top-page.js') }}"></script>
{% endblock %}