{% extends 'base.html.twig' %}

{% block title %}Lien de réinitialisation envoyé{% endblock %}

{% block body %}
    {% include 'partials/banner.html.twig' with { background_image: 'mountains-1.jpg', title: block('title') } %}

    <section class="login section-spacing background-image">
        <div class="wrapper wrapper-small">

            <p>
                Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <br>
            <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
        </div>
    </section>
{% endblock %}
