{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}

    {% include 'partials/banner.html.twig' with { background_image: 'mountains-5.jpg', title: block('title') } %}

    <section class="register section-spacing background-image">
        <div class="wrapper wrapper-small">

            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}

            <div class="information">
                Entrer votre adresse email pour recevoir un lien de réinitialisation.
            </div>

            <button class="button-primary button-black button-large">Réinitialisation</button>
            {{ form_end(requestForm) }}

        </div>
    </section>

{% endblock %}
