.pulse-1 {
    animation: 15s ease-in-out pulse-1 infinite;
    transform-origin: center;
}

@keyframes pulse-1 {
    0% {
        transform: scale(1) rotate(-8deg);
    }
    50% {
        transform: scale(1.2) translate(10px, 10px) rotate(-10deg);
    }
    100% {
        transform: scale(1) rotate(-8deg);
    }
}