.banner {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--clr-very-dark-grey);
}

.banner.wide {
  padding-top: 250px;
  padding-bottom: 150px;
}

.banner.very-wide {
  padding-top: 350px;
  padding-bottom: 150px;
}

.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.5;
  background-color: var(--clr-dark-grey);
  pointer-events: none;
}

.banner .title {
  font-size: var(--fs-big-title);
  font-family: var(--ff-primary);
  color: var(--clr-white);
  text-shadow: 0 10px 20px #00000040;
  text-transform: uppercase;
}

.banner .title h2 {
  font-size: var(--fs-title);
}

.introduction {
  padding-top: 150px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: bottom 0 right -300px;
}

.archive,
.single,
section.users,
section.login {
  padding-top: 150px;
  padding-bottom: 150px;
}

section.archive,
section.login {
  background-color: var(--clr-very-light-blue);
}

.archive .actions {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  margin-bottom: 50px;
}

.introduction p {
  font-size: var(--fs-big-text);
}

.section-title {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: var(--fs-big-title);
  font-family: var(--ff-secondary);
  font-weight: 600;
  z-index: 1;
}

.section-title::before {
  content: "";
  width: 200px;
  height: 120px;
  background-size: contain;
  top: -40px;
  left: 0;
  transform: translateX(-50%);
  background-image: url(../images/snowtricks-logo-very-light-blue.svg);
  z-index: -1;
  opacity: 1;
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  pointer-events: none;
}

.section-title.white-logo::before {
  background-image: url(../images/snowtricks-logo-white.svg);
}

.tricks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px 50px;
  grid-auto-rows: 1fr;
}

.trick {
  display: flex;
  flex-direction: column;
  padding: 200px 40px 0 40px;
  /* background: var(--clr-radial-very-dark-grey); */
  color: var(--clr-dark-grey);
  background-size: cover;
  background-position: center;
  position: relative;
}

.trick::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.25;
  background-color: var(--clr-dark-grey);
  pointer-events: none;
  transition: opacity .4s;
}

.tricks .trick:hover::before {
  opacity: 0;
}

.tricks .trick:hover .content {
  transform: translateY(-40px);
}

.trick .content {
  background-color: var(--clr-white);
  box-shadow: var(--bs-secondary);
  padding: 20px;
  transform: translateY(40px);
  transition: transform .4s;
}

.table {
  width: 100%;
  background-color: var(--clr-white);
}

.table tbody {
  text-align: center;
}

.table th,
.table td {
  padding: 10px;
}

.table th:has(.button-primary),
.table td:has(.button-primary) {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.table thead tr {
  background-color: var(--clr-dark-blue);
  color: var(--clr-white);
}

.table tbody tr:nth-child(odd) {
  background-color: var(--clr-very-light-blue);
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-field .title,
form[name=registration_form]>div label {
  font-size: var(--fs-big-text);
  display: inline-block;
  font-weight: 600;
}

form[name=registration_form]>div label {
  margin-bottom: 10px;
}

form>div:has(input[type=checkbox]) input[type=checkbox] {
  width: unset;
  margin-left: 20px;
}