@media (min-width: 1025px) {
}

@media (max-width: 1200px) {
    .tricks {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    .tricks, .images, .edit-section .specificities {
        grid-template-columns: repeat(2, 1fr);
    }

    .video-section iframe {
        height: 400px;
    }
}

@media (max-width: 768px) {
    :root {
        --fs-very-big-title: 40px;
        --fs-big-title: 30px;
        --fs-title: 26px;
        --fs-small-title: 20px;
        --fs-big-text: 16px;
        --fs-regular-text: 14px;
    }

    .section-title::before {
        width: 150px;
        top: -30px;
    }

    .section-spacing {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .navbar {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .navigation-user span {
        display: none;
    }

    .tricks, .images, .specificities, .edit-section .specificities {
        grid-template-columns: repeat(1, 1fr);
    }

    .tricks {
        gap: 50px;
    }

    .specificities {
        gap: 40px;
    }

    .introduction, .images-section {
        background-size: 600px;
    }

    #scroll-to-next-section {
        margin-right: auto;
        margin-left: auto;
    }

    footer .bottom-section {
        justify-content: center;
    }

    .banner.very-wide, .banner.wide:has(.actions) {
        gap: 50px;
    }

    .video-section iframe {
        height: 300px;
    }

    .comments {
        gap: 20px;
    }

    .actions-section .button-primary, .actions-section .button-secondary, .actions-section form button[type=submit] {
        font-size: var(--fs-regular-text);
    }

    #top-page-button {
        width: 35px;
        height: 35px;
        font-size: var(--fs-regular-text);
    }
}

@media (max-width: 380px) {
}