:root {
  --clr-light-cream: #fdf9f3;
  --clr-very-light-blue: #e3ebf4;
  --clr-light-blue: #82b0d8;
  --clr-blue: #327cbd;
  --clr-dark-blue: #134f85;
   --clr-very-dark-blue: #00386b;
  --clr-orange: #d75b00;
  --clr-dark-red: #940000;
  --clr-white: white;
  --clr-black: black;
  --clr-light-grey: #ccc;
  --clr-very-light-grey: #eee;
  --clr-grey: #74818a;
  --clr-dark-grey: #334049;
  --clr-very-dark-grey: #232b31;
  --clr-transparent-grey: hsla(0, 0%, 0%, 0.25);
  --clr-transparent-black: hsla(0, 0%, 0%, 0.5);
  --clr-transparent: hsla(0, 0%, 0%, 0);
  --ff-primary: Inter, sans-serif;
  --ff-secondary: Poppins, sans-serif;
  --ff-tertiary: Flow Circular, sans-serif;
  --fs-very-big-title: 60px;
  --fs-big-title: 40px;
  --fs-title: 30px;
  --fs-small-title: 24px;
  --fs-big-text: 20px;
  --fs-regular-text: 16px;
  --fs-small-text: 12px;
  --fw-bold: 600;
  --fw-regular: 500;
  --fw-thin: 400;
  --bs-primary: 0 10px 10px #00000005;
  --bs-secondary: 0 10px 20px #00000010;
}