{% extends 'base.html.twig' %}

{% block title %}Oops, une erreur est survenue...{% endblock %}

{% block body %}

	{% include 'partials/banner.html.twig' with { background_image: 'mountains-3.jpg', title: block('title') } %}

    <section class="error section-spacing" style="background-image: url('{{ asset('images/snowtricks-background.svg')}}');">
        <div class="wrapper wrapper-small">
            <h2 class="section-title">{{ exception.message }}</h2>
            <div class="actions">
                <a class="button-primary button-blue" href="{{ path('homepage') }}">
                    <i class="fas fa-igloo" aria-hidden="true"></i> Accueil
                </a>
            </div>
        </div>
    </section>

{% endblock %}