{% extends 'base.html.twig' %}

{% block body %}
    <h1>TRICK DETAILS</h1>
    <h2><a href="/">Home</a></h2>
    <h2><a href="/tricks">Tricks</a></h2>
    <p>{{ trick.id }}</p>
    <p>{{ trick.name }}</p>
    <h2>Comments</h2>
    {{ form(commentForm) }}
    {% for comment in trick.comments %}
        {{ dump(comment) }}
    {% endfor %}
{% endblock %}
