{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
{#    <h1>TRICK</h1>#}
{#    {% for trick in tricks %}#}
{#        <div>#}
{#            <a href="{{ path('app_tricks_details', { 'id' : trick.id }) }}">{{ trick.name }} ({{ trick.id }})</a>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% endblock %}#}
