{#<form method="post" action="{{ path('app_trick_add_comment', {'id': trick.id}) }}">#}
{#    <input type="text" value="Test">#}
{#    <button class="btn">Add</button>#}
{#</form>#}

{{ form(commentForm) }}
