{% if trick.images is not empty %}
    <h2>Images</h2>

    {% for image in trick.images %}
        <div>
            <img src="{{ asset('/uploads/tricks/' ~ image.name) }}" alt="Image">
            {% if is_granted('ROLE_EDITOR') %}
                <a href="{{ path('app_trick_delete_image', { 'id': image.id }) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}